/* Header section styles start here */

/* google font style rules */
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header {
    background: rgba(229, 84, 115, 0.10);
}

.banner {
    display: flex;
    justify-content: space-around;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    max-width: 750px;
}

.banner-description {
    max-width: 750px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    gap: 10px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.banner .banner-img {
    margin-top: 50px;
    width: 635px;
    height: 800px;
}

/* Featured section styles start here */

.section-featured {
    padding: 0 670px;
}


.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    color: rgba(49, 22, 22, 0.6);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.flowers {
    display: flex;
    justify-content: space-around;
    padding: 48px 240px;
}

.flowers-title {
    display: flex;
    justify-content: space-around;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding-block: 50px 350px;
    text-decoration-line: underline;
}

.flowers-img1 {
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    gap: 24px;


}

.flowers-img2 {
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    gap: 24px;
}

.flowers-img3 {
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    gap: 24px;
}



.service-container {
    display: flex;
    justify-content: space-around;
    background: rgba(39, 39, 39, 0.05);
    align-items: center;
    border-radius: 8px;
    padding: 150px 240px;
}

.delivery-img {
    align-items: center;
}

.delivery-info {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}



.deal {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 400px;
    gap: 40px;
}

.deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.insta-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}