/* Header section styles start here */

/* google font style rules */
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header {
    background: rgba(229, 84, 115, 0.10);
}

.banner {
    display: flex;
    justify-content: space-around;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    max-width: 750px;
}

.banner-description {
    max-width: 750px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    gap: 10px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.banner .banner-img {
    margin-top: 50px;
    width: 635px;
    height: 800px;
}

/* Featured section styles start here */

.section-featured {
    padding: 0 670px;
}


.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.service-container {
    display: flex;
    justify-content: space-around;
    background: rgba(39, 39, 39, 0.05);
    align-items: center;
    gap: 30px;
    border-radius: 8px;
    max-width: 1440px;
    margin: 240px;
}

.delivery-img{
    align-items: center;
}

.delivery-info {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.flowers{
    background: fixed;
    display: flex;
    justify-content: space-around;
}